@charset "utf-8";
/* CSS Document */

.bgcolor {
	border:thin solid #666666;
	border-radius:15px;
	color:#333333;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	list-style-image: url(1381279941_resultset_next.png);
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
